

/*<--Header-->*/

.header{
	text-align: center;
	padding: 30px 0 10px 0;


}

.header h1, h2 {
	font-family:'Neuton', serif;
}

.header h1{
	font-size: 55px;
	color:#718999;
}

.header h2{
	font-size: 34px;
	color:#FFA696;
}


/*<--Navigation Filter-->*/

.nav .container {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 20px;
	border-top: 0.5px solid gray;

}

.nav a{
	color:#4FB295;
}

.nav a:hover{
	text-decoration: none;
	
	color:#A446B2;
}

.nav a:active{
	color:#A446B2;
}


/*<--Content-->*/

.timeline .container {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px 0;
}

.col-sm-4, .col-sm-8{
	text-align: center;
	font-family: 'Neuton', serif;
	font-size: 22px;
	padding: 10px 10px;

}

.col-sm-4{
	color: #CC3131;
}

.col-sm-8{
	color: #718999;
}

.box{
	padding-bottom: 50px;
	border: 1px solid black;
}

.events{
	margin-top: 10px;
}

/*<--Footer-->*/

.footer{
	padding: 20px 0;
}

.footer p{
	text-align: center;
	font-family: 'Neuton', serif;
	font-size: 12px;
}

/*<--filter-->*/
.selected {
  border: 3px solid #AECCFF;
  background-color: #E0E0E0 ;
}

html, body {
  margin: 0;
  padding: 0;
  height:100%;
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

