

/*<--Header-->*/

.header{
	text-align: center;
	padding: 30px 0 10px 0;


}

.header h1, h2 {
	font-family:'Neuton', serif;
}

.header h1{
	font-size: 55px;
	color:#718999;
}

.header h2{
	font-size: 34px;
	color:#FFA696;
}


/*<--Navigation Filter-->*/

.nav .container {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 20px;
	border-top: 0.5px solid gray;

}

.nav a{
	color:#4FB295;
}

.nav a:hover{
	text-decoration: none;
	
	color:#A446B2;
}

.nav-pills>li>a:hover {
	background-color: white;
}

/*<--Content-->*/





html, body {
  margin: 0;
  padding: 0;
  height:100%;
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }
